* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px 0;
}

.header h1 {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.container {
    display: flex;
    height: calc(100vh - 60px); /* Adjust for the height of the header */
    width: 100%;
    line-height: 1.6;
}

.sidebar {
    width: 24%;
    height: 100%;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar button {
    padding: 10px;
    color: white;
    background-color: #444;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #555;
}

.content {
    width: 75%;
    padding: 20px;
    background-color: #f9f9f9;
}

.tabContent {
    display: none;
}

.tabContent h2 {
    margin-bottom: 15px;
}

/* Show the first tab by default */
#personalInfo {
    display: block;
}

h2{
    color: #333;
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 2.5rem;
}